@model PilotTasksUpworkService.Model.Profile
@{

}

<p>Edit Profile</p>
<form asp-action="NewProfile">
    <div class="form-group">
        <input asp-for="ProfileId" type="hidden" class="form-control" name="ProfileId" required>
        <label asp-for="FirstName" for="FirstName">First Name</label>
        <input asp-for="FirstName" type="text" class="form-control" name="FirstName" placeholder="FirstName" required>
    </div>
    <div class="form-group">
        <label asp-for="LastName" for="LastName">Last Name</label>
        <input asp-for="LastName" type="text" class="form-control" name="LastName" placeholder="LastName" required>
    </div>
    <div class="form-group">
        <label asp-for="DateOfBirth" for="DateOfBirth">Date Of Birth</label>
        <input asp-for="DateOfBirth" type="date" class="form-control" name="DateOfBirth" placeholder="DateOfBirth" required>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber" for="DateOfBirth">Phone Number</label>
        <input asp-for="PhoneNumber" type="text" class="form-control" name="PhoneNumber" placeholder="Phone Number">
    </div>
    <div class="form-group">
        <label asp-for="EmailId" for="EmailId">Email Id</label>
        <input asp-for="EmailId" type="email" class="form-control" name="EmailId" placeholder="EmailId" required>
    </div>
    @if (TempData["msg"] != null)
    {
            <div class="mb-3">
            @TempData["msg"]
            </div>
    }

    <button type="submit" class="btn btn-primary">Save</button>
</form>
